/* USTAWIENIA PODSTAWOWE */

:root {
    /* KOLOR CZCIONKI */
    --color-font: black;
    /* KOLOR PODSTWOWY ORAZ JEGO JASNA I CIEMNA WERSJA */
    --color-base: rgb(255, 93, 115);
    --color-base-light: rgb(255, 224, 228);
    --color-base-dark: rgb(143, 18, 35);
    /* NEUTRALNE ODCIENIE SZAROSCI ŻEBY NIE BYŁO ZA RÓŻOWO*/
    --color-secondary: rgb(160, 153, 142);
    --color-secondary-light: rgb(236, 229, 217);
    --color-secondary-dark: rgb(85, 81, 74);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: var(--color-font);
    font-family: "Overpass", "Open Sans", sans-serif;
    line-height: 1.5;
}

p,
label,
textarea,
li {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

.button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 2rem 0 0 0;
    text-decoration: none;
    background-color: var(--color-base);
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button:hover,
.button:active {
    background-color: var(--color-base-dark);
}


/* NAWIGACJA ----------------------------------------------------*/

.nawig {
    background-color: var(--color-base-dark);
}
.nawig .dropdown-item{
    cursor: pointer;
}
.logo {
    color: white;
    font-size: 30px;
}


/* KATEGORIE I FILTRY -------------------------------------------*/

.kategorie {
    min-height: 20vh;
    width: 100%;
    background-color: var(--color-secondary-dark);
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-gap: 1rem; */
    align-items: center;
    /* justify-items: center; */
    text-align: center;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.kategorie li {
    list-style: none;
}

.kategorie h1 {
    text-align: center;
    line-height: 20vh;
}
#kat{
    font-size: 1.5rem;
}


/* PRODUKTY -----------------------------------------------------*/

.produkty {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
    margin: 2vh 0;
}

.produkty>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: 6px 0 0 0;
    border-color: var(--color-base);
    border-style: solid;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    padding: 1vh;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.produkty>div div {
    display: flex;
    flex-direction: column;
}

.produkty img {
    max-width: 100%;
    max-height: 120px;
    align-self: center;
}

.produkty p,
.produkty h4,
.produkty h5,
.produkty h6 {
    text-align: center;
}

.produkty h4 {
    color: var(--color-font);
    font-weight: 500;
    line-height: 1.2;
    font-size: 18px;
}

.produkty h6 {
    color: var(--color-secondary);
    font-weight: 100;
    line-height: 1.2;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 5px;
}

.produkty .button {
    padding: 0.5rem 2rem;
    margin: 0 0 0 0;
    text-transform: uppercase;
}


/* STRONA PRODUKTU -----------------------------------------------------*/

#product {
    width: 100%;
    background-color: white;
    min-height: 30vh;
}

.product-colors-container {
    flex-basis: 15%;
    margin-top: 0.5rem;
}
.product-img{
    text-align: center;
}

.product-colors {
    background-color: gray;
    margin: 0 auto;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;


}
.adv-online-buy{
    border: 6px solid  rgb(255, 93, 115);
    background-image: linear-gradient(to right,rgb(236, 229, 217) , rgb(160, 153, 142));
}
.adv-online-buy li{
    margin: 0;
    padding: 36px 0 36px 84px;
    list-style: none;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Love_Heart_SVG.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
}
.colors-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


ul.overlap {
    padding: 5px 0px 20px 0px;
}

.overlap li {
    display: inline-flex;
}

.overlap button {
    background-color:#fff;
    border:none;
    padding: 1rem 1rem;
    text-decoration: none;
    color: #111;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
}

.table {
    display: block;
    margin: 0 auto; 
}
 
.table > div {
    display: none;
    width: 90%;
    margin: 10px;
    padding: 10px;
}

.table .select {
    display: block;
}
  
li .on {
    color: var(--color-base);
    transition: background 250ms ease-in-out, transform 150ms ease;
}

/* STARS opinie --------------------------------------------------*/
.fa-star {
    color: #c0c0c0;
    font-size: 1.3rem;
    line-height: 30px;
    padding: 0 2px;
}

.raiting {
    padding-top: 5px;
    padding-bottom: 5px;
}

#btn-rate {
    font-size: .7rem;
    padding: .1rem;
    margin: 1rem 1rem;   
}

.rate {
    color: #ffa500;
}
.stars {
    background: rgb(255, 255, 255);
    height: 30px;
    padding: 20px 0px;
    border-radius: 15px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;   
}

.stars input {
    position: absolute;
    left: -999999px;
}

.stars label {
    width: 30px;
    height: 30px;
    padding: 5px;
    color: transparent;
}

.stars input:checked ~ label i::before {
    color: #ffa500;   
}

.productNav {
    display: block;
}

/* SLIDER -------------------------------------------------------*/

.slider.wrapper {
    background: #000;
    margin: 0 auto;
    overflow: hidden;
}
      
.slides {
    position: relative;
    display: block;    
}
      
.slides:focus{
    outline: 0;
}
      
.slides figure {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    -webkit-transition: opacity 1.2s;
    transition: opacity 1.2s;  
}
      
.slides figure:first-child {
    position: relative;
}
      
.slides figure img {
    display: block;
    max-height: 60vh;
     min-height: 30vh;
}

.slides .show {
    z-index: 3;
    opacity: 1;
}
      
.next, .prev {
    color: #fff;
    position: absolute;
    background: #000;
    background: rgba(0,0,0, .6);
    top: 50%;
    z-index: 4;
    font-size: 2em;
    margin-top: -1.2em;
    opacity: .3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.next:hover, 
.prev:hover,
nav.pins button:hover {
    cursor: pointer;
    opacity: 1;
}

.next {
    right: 0;
    padding: 10px 5px 15px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.prev {
    left: 0;
    padding: 10px 10px 15px 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
      
      
nav.pins button {
    background: transparent;
    color: #fff;
    position: relative;
    border: none;
    outline: none;
}
      
.pins {
    text-align: center;
    line-height: 25px;
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 50%; 
}
      
nav.pins ul {
    margin: 0;
    padding: 0;
}
      
nav.pins ul > li {
    display: inline-block;
    list-style-type: none;
}
      
nav.pins ul > li button {
    width: 20px; 
    height: 20px;
    line-height: 25px;
    font-size: 35px;
    opacity: 0.7;	
 }
      
nav.pins ul > li button:before {
    content: '\2022';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
      
nav.pins ul > li button.selected {
    opacity: 1;
}
      


/* TEXT ---------------------------------------------------------*/

.text {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.text div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text div button {
    min-width: 200px;
}


/* PRODUKTY WYLOSOWANE PO PRZEŁADOWANIU STRONY -----------------*/

.wylosowane {
    padding-bottom: 1rem;

}
.wylosowane h1 {
    text-align: center;
    line-height: 15vh;
}


/* FOOTER --------------------------------------------------------*/

footer {
    background-color: var(--color-secondary-dark);
    height: 100%;
    width: 100%;
}

footer h1 {
    text-align: center;
    line-height: 20vh;
}
footer a:hover{
    color: black;
    text-decoration: none;
}
footer p{
    color: black;
}